body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#quote-box {
  background-color: #fff;
  height: auto;
  width: 450px;
  padding: 40px 50px;
}

.quote-text {
  font-size: 1.75em;
  font-weight: 600;
}

.quote-text .fa {
  margin-right: 15px;
}

.quote-author {
  font-weight: 200;
  font-size: 1.2em;
  padding-top: 20px;
  text-align: right;
}

.buttons {
  padding-top: 2em;
}

#new-quote {
  float: right;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 1em 1.5em;
}

.footer {
  width: 450px;
  margin: 15px auto 30px auto;
  /* font-size: 0.8em; */
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
