@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#quote-box {
  background-color: #fff;
  height: auto;
  width: 450px;
  padding: 40px 50px;
}

.quote-text {
  font-size: 1.75em;
  font-weight: 500;
}

.quote-text .fa {
  margin-right: 15px;
}

.quote-author {
  font-weight: 200;
  font-size: 1em;
  padding-top: 20px;
  text-align: right;
}

.buttons {
  padding: 2em 0;
}

.buttons a {
  float: left;
  height: 35px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5%;
  margin: 0 5px;
}
.buttons a i {
  font-size: 1.2em;
  color: #fff;
}

#new-quote {
  float: right;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 1em 1.5em;
}

.changeOpacity {
  animation: changeOpacity 4s;
}

.footer {
  width: 450px;
  margin: 15px auto 30px auto;
  color: #fff;
  font-weight: 500;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
